/*Codigo CSS del Header*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.containerIndex {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

h1 {
    padding-right: 5%;
}

header {
    padding: 20px 0;
    background-color: #26ade4;
    color: #000000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block; 
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}


@media (max-width: 768px) {
    .containerIndex {
        width: 100%;
    }

    h1 {
        padding-right: 0;
        text-align: center; 
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
/*Codigo CSS del Footer*/
.containerFooter {
    text-align: center;
    background-color: #26ade4;
    color: #000000;
    padding: 20px 0;
}

.containerFooter {
    margin: 0;
    font-size: 14px;
}

/* Codigo CSS de SugerenciasVuelos.php */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d1e751c5 ;
}

.suggestion {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.suggestion img {
    max-width: 100%;
    height: auto;
}

.suggestion h3 {
    color: #4dbce9;
}

.suggestion p {
    color: #000000;
}

.suggestion .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #26ade4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .suggestion {
        width: 100%;
    }
}






/* mainreserva */
.img-fondreserva{
    width: 900px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  
  .img-fondreserva img{
    width: 100%;
    
  }
  
  
  .main-reserva{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .form-reserva{
    padding-bottom: 20px;
  }
  
  .img-hoteles{
    margin-bottom: 25px;
  }
  
  
   /* Estilos básicos para el calendario */
   table {
        border-collapse: collapse;
        width: 100%;
      }
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      td:hover {
        background-color: #e6e6e6;
      }

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment{
    margin-top: 1em
}
.boton{
    margin-top: 1em
}