/*Codigo CSS del Header*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.containerIndex {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

h1 {
    padding-right: 5%;
}

header {
    padding: 20px 0;
    background-color: #26ade4;
    color: #000000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}


@media (max-width: 768px) {
    .containerIndex {
        width: 100%;
    }

    h1 {
        padding-right: 0;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*Codigo CSS del Footer*/
.containerFooter {
    text-align: center;
    font-size: 14px;
    background-color: #26ade4;
    color: #000000;
    padding: 20px 0;
}


/* Codigo CSS de SugerenciasVuelos.php */
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d1e751c5;
}

.suggestion {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.suggestion img {
    max-width: 100%;
    height: auto;
}

.suggestion h3 {
    color: #4dbce9;
}

.suggestion p {
    color: #000000;
}

.suggestion .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #26ade4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .suggestion {
        width: 100%;
    }
}



.maincomment{
    padding-top: 5em;
    height: 35em;

}
.mainregistro{
    padding-top: 5em;
    height: 30em;
}


.img-fondreserva {
    width: 900px;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;

}

.img-fondreserva img {
    width: 100%;

}


.main-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    
    
  }
  
  .form-reserva{
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .fecha-reserva{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 0.5px solid black;
    border-radius: 10PX;
    border-radius: black;

  }

  .fecha-reserva-button{
    width: 100px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10PX;
    background-color: #26ade4;
  }

  
  
  .img-hoteles{
    margin-bottom: 25px;
  }

  .containerFooter-reserva {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    text-align: center;
    background-color: #26ade4;
    color: #000000;
    padding: 20px 0;

}

.containerFooter-reserva {
    margin: 0;
    font-size: 14px;
}

  .instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.instagram img
{
    width: 20px;
}

.facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.facebook img
{
    width: 20px;
}

.iconos-footer{
    display: flex;
    justify-content: space-around;
}

/* ESTILOS RESERVA DATSO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body-reserva-viaje {
    background-image: url('Views/views/fond.jpg');
  }
  
  .form-register {
    width: 400px;
    background: #26ade4;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(10, 10, 10);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(7, 7, 7);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  
  .form-register p a {
    color: red;
  }


.equipaje-main{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equipaje{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.equipaje-otros{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;  
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 15px;
}








/* Estilos form pago */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container-formpago{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(90deg, #26ade4 60%, #26ade4 40.1%);
}

.container-formpago form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container-formpago form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container-formpago form .row .col{
  flex:1 1 250px;
}

.container-formpago form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container-formpago form .row .col .inputBox{
  margin:15px 0;
}

.container-formpago form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container-formpago form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container-formpago form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container-formpago form .row .col .flex{
  display: flex;
  gap:15px;
}

.container-formpago form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container-formpago form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container-formpago form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #1f53c5;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container-formpago form .submit-btn:hover{
  background: #26ade4;
}

.container-formpago form p{
    display: flex;
    align-items: center;
    justify-content: center;
}








  
  
   /* Estilos básicos para el calendario */
   table {
        border-collapse: collapse;
        width: 100%;
      }
  
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      td:hover {
        background-color: #e6e6e6;
      }

/* Estilos básicos para el Formulario*/
.caja{
      .div-form-reserva
      {
        font-size: 25px;
      }


}

.form-reserva {
    padding-bottom: 20px;
}

.img-hoteles {
    margin-bottom: 25px;
}


/* Estilos básicos para el calendario */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #e6e6e6;
}

.caja-comment{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.formulario-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
	padding:16px;
  border-radius:10px;
	background-color:#a8a8a8;
  margin-bottom: 5em;
}
.comment{
  margin-top: 1em;
  font-weight:bold;
	display:inline-block;
}
.input-nombre{
  width: 30em;
}
.input-comment{
  width: 30em;	
  height: 10em;
}

.boton{
    margin-top: 1em
}

.comment {
    margin-top: 1em
}

.boton {
    margin-top: 1em
}

/* Estilos Vuelos */
.containerT {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabV {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Codigo CSS de registro */
.mainregistro{
padding-bottom: 50em;
}
.titulo{
  margin-bottom: 1em;
}
.caja-registro{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.formRegistrar {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
	padding:16px;
  border-radius:10px;
	background-color:#a8a8a8;
  margin-bottom: 5em;
}
.formRegistrar input{
  width: 25em;	
}
.formRegistrar label{
  
  margin-top: 1em;
  font-weight:bold;
	display:inline-block;
}
.formRegistrar select{
  width: 25em;
}

.botonreg{
  margin-top: 1em
}

.coment {

    background-color: #d1e751c5;

}
.main-reserva{
  background-color: #d1e751c5;
}






